.box {
    width: 20%;
    border: solid;
    display: inline-block;
    vertical-align: text-top;
    margin: 50px;
    padding: 25px;
    border-radius: 3%;
}
img{
    height: 30%;
    width: 100%;
}
.checkout-btn {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.checkout-btn:hover {
    background-color: #45a049;
    cursor: pointer;
}